<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<entityFramework>
		<contexts>
			<context type="Bookmarky.DAL.EntityModels.BookmarkyContext, Bookmarky.DAL">
				<databaseInitializer type="Bookmarky.DAL.Schema.ContextInit, Bookmarky.DAL" />
			</context>
		</contexts>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
    <!--<add name="BookmarkyContextTest" connectionString="Data Source=SERVER1\MJDB_Dev;Initial Catalog=Bookmarky_Test;Persist Security Info=True;User ID=ClientAccess;Password=Access$QL2013_!?" providerName="System.Data.SqlClient" />-->
    <add name="BookmarkyContext" connectionString="Data Source=(Local Db)\v11.0; Initial Catalog=Bookmarky_Test" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>